Repository lugvitc/lugtype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, local dev

install zod
  backend/package-lock.json
  backend/package.json
Labels: backend

initial setup
  backend/src/api/controllers/user.ts
  backend/src/types/types.d.ts
  shared-types/api-schemas/users.d.ts
Labels: backend

change folder structure
  backend/__tests__/tsconfig.json
  backend/tsconfig.json
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  frontend/__tests__/tsconfig.json
  frontend/tsconfig.json
  monkeytype.code-workspace
  shared-types/api-schemas/users.d.ts
  shared/api-schemas/users.ts
  shared/types/config.d.ts
  shared/types/types.d.ts
Labels: backend, frontend

what i got so far
  backend/src/api/controllers/user.ts
  backend/src/middlewares/api-utils.ts
  backend/src/utils/monkey-response.ts
  frontend/src/ts/ape/endpoints/users.ts
Labels: backend, frontend

generics go brr
  backend/src/middlewares/api-utils.ts
  backend/src/types/types.d.ts
Labels: backend

fix error hanndler
  backend/src/middlewares/error.ts
Labels: backend

wip
  .husky/pre-commit
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/nestApp.ts
  backend/src/server.ts
  frontend/src/webfonts-generated/fa-brands-400.woff2
  frontend/src/webfonts-generated/fa-solid-900.woff2
  monkeytype.code-workspace
  nest-backend/package-lock.json
  nest-backend/package.json
  nest-backend/src/app.module.ts
  nest-backend/src/controllers/user.controller.ts
  nest-backend/src/main.ts
  nest-backend/tsconfig.json
  shared-types/config.d.ts
  shared-types/index.d.ts
  shared-types/package.json
  shared-types/tsconfig.json
  shared-types/types.d.ts
Labels: backend, frontend

more testing
  frontend/src/ts/ape/endpoints/users.ts
  shared/api-schemas/users.ts
Labels: frontend

rate limit fix
  backend/src/middlewares/rate-limit.ts
Labels: backend

wip
  backend/package-lock.json
  backend/package.json
  backend/src/api/controllers/user.ts
  backend/src/api/routes/configsV2.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/index2.ts
  backend/src/api/routes/usersV2.ts
  backend/src/api/schemas/common.contract.ts
  backend/src/api/schemas/config.contract..ts
  backend/src/api/schemas/index.contract.ts
  backend/src/api/schemas/user.contract.ts
  backend/src/app.ts
  backend/src/utils/error.ts
  backend/src/utils/monkey-response.ts
  monkeytype.code-workspace
Labels: backend

wip
  .husky/pre-commit
  backend/src/api/controllers/user.ts
  backend/src/api/routes/configsV2.ts
  backend/src/api/routes/index2.ts
  backend/src/api/routes/usersV2.ts
  backend/src/utils/monkey-response.ts
Labels: backend

wip
  backend/src/api/routes/configsV2.ts
  backend/src/api/routes/index2.ts
  backend/src/api/routes/usersV2.ts
  backend/src/api/schemas/config.contract..ts
  backend/src/api/schemas/index.contract.ts
Labels: backend

add path params and query option
  backend/src/api/controllers/config.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/configsV2.ts
  backend/src/api/routes/index2.ts
  backend/src/api/routes/usersV2.ts
  backend/src/api/schemas/config.contract.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  backend/src/utils/monkey-response.ts
  backend/src/utils/prometheus.ts
Labels: backend

first client code
  backend/src/api/controllers/user.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/usersV2.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/contract-temp/common.contract.ts
  frontend/src/ts/contract-temp/config.contract.ts
  frontend/src/ts/contract-temp/index.contract.ts
  frontend/src/ts/contract-temp/user.contract.ts
  frontend/src/ts/db.ts
Labels: backend, frontend

extract shared contracts
  backend/__tests__/tsconfig.json
  backend/src/api/controllers/config.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/configsV2.ts
  backend/src/api/routes/index2.ts
  backend/src/api/routes/usersV2.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  backend/src/utils/error.ts
  backend/src/utils/misc.ts
  backend/src/utils/monkey-response.ts
  backend/src/utils/prometheus.ts
  backend/tsconfig.json
  frontend/__tests__/tsconfig.json
  frontend/src/ts/ape/endpoints/configsV2.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/contract-temp/common.contract.ts
  frontend/src/ts/contract-temp/config.contract.ts
  frontend/src/ts/contract-temp/index.contract.ts
  frontend/src/ts/contract-temp/user.contract.ts
  frontend/src/ts/db.ts
  frontend/tsconfig.json
  monkeytype.code-workspace
  shared/contract/common.contract.ts
  shared/contract/config.contract.ts
  shared/contract/index.contract.ts
  shared/contract/user.contract.ts
  shared/package-lock.json
  shared/package.json
  shared/tsconfig.json
  shared/types/config.d.ts
  shared/types/types.d.ts
Labels: backend, frontend

openapi/swagger
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  shared/contract/config.contract.ts
  shared/package-lock.json
  shared/package.json
Labels: backend

cleanup
  .husky/pre-commit
  backend/package-lock.json
  backend/package.json
  backend/src/api/routes/configsV2.ts
  backend/src/api/routes/index2.ts
  backend/src/api/routes/usersV2.ts
  backend/src/app.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/rate-limit.ts
  shared/contract/config.contract.ts
  shared/package-lock.json
  shared/package.json
Labels: backend

more cleanup
  backend/src/api/controllers/config.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/configsV2.ts
  backend/src/api/routes/index2.ts
  backend/src/api/routes/usersV2.ts
  backend/src/app.ts
  backend/src/middlewares/auth.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  backend/src/utils/monkey-response.ts
  backend/src/utils/prometheus.ts
Labels: backend

cleanup
  backend/src/middlewares/rate-limit.ts
  frontend/src/ts/ape/endpoints/ApeClient.ts
  frontend/src/ts/ape/endpoints/configsV2.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/usersV2.ts
  frontend/src/ts/ape/index.ts
Labels: backend, frontend

type cleanup
  backend/src/api/controllers/user.ts
  shared/contract/common.contract.ts
  shared/contract/config.contract.ts
  shared/contract/user.contract.ts
Labels: backend

convert results, wip
  .husky/pre-commit
  backend/src/api/controllers/result.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/index2.ts
  backend/src/api/routes/results.ts
  backend/src/dal/user.ts
  backend/src/utils/pb.ts
  backend/src/utils/prometheus.ts
  backend/src/utils/validation.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/modals/edit-result-tags.ts
  frontend/src/ts/modals/google-sign-up.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
  shared/contract/common.contract.ts
  shared/contract/index.contract.ts
  shared/contract/results.contract.ts
  shared/contract/user.contract.ts
  shared/tsconfig.json
  shared/types/config.d.ts
  shared/types/types.d.ts
Labels: backend, frontend

replace configs with new ts-rest
  backend/src/api/controllers/config.ts
  backend/src/api/routes/configs.ts
  backend/src/api/routes/configsV2.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/index2.ts
  backend/src/api/routes/usersV2.ts
  backend/src/api/schemas/config-schema.ts
  backend/src/app.ts
  backend/src/dal/config.ts
  frontend/src/ts/ape/endpoints/configs.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/configs.d.ts
  frontend/src/ts/db.ts
  shared/contract/config.contract.ts
  shared/contract/configs.contract.ts
  shared/contract/index.contract.ts
  shared/contract/shared/config.ts
  shared/contract/shared/helpers.ts
  shared/contract/shared/types.ts
  shared/types/config.d.ts
  shared/types/types.d.ts
Labels: backend, frontend

remove ts-rest from users
  backend/src/api/controllers/user.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/usersV2.ts
  backend/src/api/schemas/config-schema.ts
  shared/contract/index.contract.ts
  shared/contract/user.contract.ts
Labels: backend

wip
  backend/src/api/controllers/config.ts
  backend/src/api/controllers/utils.ts
  backend/src/dal/config.ts
  backend/src/types/types.d.ts
  backend/src/utils/monkey-response.ts
  shared/contract/configs.contract.ts
  shared/contract/shared/config.ts
  shared/contract/shared/helpers.ts
Labels: backend

cleanup
  backend/src/api/routes/index.ts
  frontend/src/ts/account/pb-tables.ts
  shared/contract/configs.contract.ts
  shared/contract/shared/config.ts
  shared/contract/shared/types.ts
  shared/types/config.d.ts
  shared/types/types.d.ts
Labels: backend, frontend

cleanup
  backend/src/api/controllers/config.ts
  backend/src/api/controllers/user.ts
  backend/src/api/controllers/utils.ts
  backend/src/api/routes/index.ts
  backend/src/api/schemas/config-schema.ts
  backend/src/app.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  backend/src/utils/prometheus.ts
  backend/tsconfig.json
  frontend/src/ts/db.ts
  shared/contract/users.contract.ts
Labels: backend, frontend

wip
  frontend/src/styles/nav.scss
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/modals/dev-options.ts
Labels: frontend

feat(practice): add option to practice missed biwords
  frontend/src/html/popups.html
  frontend/src/ts/commandline/lists/result-screen.ts
  frontend/src/ts/test/practise-words.ts
  frontend/src/ts/test/test-logic.ts
Labels: frontend

test: add mc/dc test to function updateAltGrState
  frontend/__tests__/utils/altgr.spec.ts
  frontend/src/ts/test/layout-emulator.ts
  package-lock.json
  package.json
Labels: frontend

chore: add 3 mode btns
  backend/src/api/controllers/dev.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/api/routes/public.ts
  backend/src/api/routes/users.ts
  backend/src/api/schemas/config-schema.ts
  backend/src/api/schemas/filter-schema.ts
  backend/src/api/schemas/result-schema.ts
  backend/src/dal/user.ts
  frontend/package.json
  frontend/src/html/pages/account.html
  frontend/src/html/pages/test.html
  frontend/src/html/popups.html
  frontend/src/ts/commandline/lists/mode.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/modals/edit-tag.ts
  frontend/src/ts/modals/mobile-test-config.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/test/test-config.ts
  frontend/src/ts/utils/misc.ts
  package-lock.json
  packages/shared-types/src/config.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/user.ts
Labels: backend, frontend

chore: easy mode done
  frontend/src/ts/commandline/lists/bail-out.ts
  frontend/src/ts/commandline/lists/mode.ts
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-config.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-timer.ts
  frontend/src/ts/test/timer-progress.ts
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/utils/url-handler.ts
  frontend/static/challenges/sourcecode.txt
Labels: frontend

chore: medium mode done
  frontend/src/ts/commandline/lists/quote-favorites.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/test/british-english.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-config.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/timer-progress.ts
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/url-handler.ts
  frontend/static/challenges/sourcecode.txt
Labels: frontend

chore: onerandom mode done
  frontend/src/ts/config.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-config.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-stats.ts
  frontend/src/ts/test/test-timer.ts
  frontend/src/ts/test/timer-progress.ts
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/url-handler.ts
Labels: frontend

refactor: run prettier
  frontend/static/languages/_groups.json
  frontend/static/languages/code_cobol.json
  frontend/static/languages/occitan.json
  frontend/static/languages/occitan_10k.json
  frontend/static/languages/occitan_1k.json
  frontend/static/languages/occitan_2k.json
  frontend/static/languages/occitan_5k.json
  package-lock.json
Labels: frontend

refactor: run prettier
  frontend/static/languages/_groups.json
  frontend/static/languages/code_cobol.json
  frontend/static/languages/occitan.json
  frontend/static/languages/occitan_10k.json
  frontend/static/languages/occitan_1k.json
  frontend/static/languages/occitan_2k.json
  frontend/static/languages/occitan_5k.json
  package-lock.json
Labels: frontend

refactor: run prettier
  frontend/static/languages/_groups.json
  frontend/static/languages/code_cobol.json
  frontend/static/languages/occitan.json
  frontend/static/languages/occitan_10k.json
  frontend/static/languages/occitan_1k.json
  frontend/static/languages/occitan_2k.json
  frontend/static/languages/occitan_5k.json
  package-lock.json
Labels: frontend

refactor: run prettier
  frontend/static/languages/_groups.json
  frontend/static/languages/code_cobol.json
  frontend/static/languages/occitan.json
  frontend/static/languages/occitan_10k.json
  frontend/static/languages/occitan_1k.json
  frontend/static/languages/occitan_2k.json
  frontend/static/languages/occitan_5k.json
  package-lock.json
Labels: frontend

refactor: run prettier
  frontend/static/languages/_groups.json
  frontend/static/languages/code_cobol.json
  frontend/static/languages/occitan.json
  frontend/static/languages/occitan_10k.json
  frontend/static/languages/occitan_1k.json
  frontend/static/languages/occitan_2k.json
  frontend/static/languages/occitan_5k.json
  package-lock.json
Labels: frontend

refactor: run prettier
  frontend/static/languages/_groups.json
  frontend/static/languages/code_cobol.json
  frontend/static/languages/occitan.json
  frontend/static/languages/occitan_10k.json
  frontend/static/languages/occitan_1k.json
  frontend/static/languages/occitan_2k.json
  frontend/static/languages/occitan_5k.json
  package-lock.json
Labels: frontend

refactor: run prettier
  frontend/static/languages/_groups.json
  frontend/static/languages/code_cobol.json
  frontend/static/languages/occitan.json
  frontend/static/languages/occitan_10k.json
  frontend/static/languages/occitan_1k.json
  frontend/static/languages/occitan_2k.json
  frontend/static/languages/occitan_5k.json
  package-lock.json
Labels: frontend

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]
